---
title: Implementation Quickstart HA
suppress_header: true
description: "Deploy and Configure a Highly Available GitLab self managed system"
canonical_path: "/services/skus/health-check-sm"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Health Check - Self-Managed
.page-container.container
<iframe src="https://drive.google.com/file/d/1t5tHaXZrMiNgLGzaBTT2ksjjgDHJqyQN/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>