---
title: GitLab Certified Project Management Associate
suppress_header: true
description: "GitLab Certified Project Management Associate"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Project Management Associate
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

= partial "includes/education-services-deprecated"

