
Note, at GitLab we plan aggressively and we can make changes to this at any time!

<details markdown="1">

<summary>View screenshot of roadmap - update Aug 11, 2023</summary>

![foundations-roadmap-screenshot.png](/direction/manage/personal_productivity/foundations-roadmap-snapshot.png)

</details>