---
title: DevSecOps Workshop
suppress_header: true
description: "Introductory advisory service to understand how to adopt the GitLab DevSecOps workflow."
canonical_path: "/services/skus/devsecops-workshop"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      DevSecOps Workshop
.page-container.container
<iframe src="https://drive.google.com/file/d/1aQ0D-OQtS5v0yEtjL3KZeb_yQQb_l0Qg/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>