---
title: Migration QuickStart
suppress_header: true
description: "Migrate up to 500 users and 1000 repositories from a select source system."
canonical_path: "/services/skus/migration-quickstart"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Migration QuickStart
.page-container.container
<iframe src="https://drive.google.com/file/d/1Diq1e8yQH_8q-JEViRgpP8WX0SxdJnO6/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>