---
title: Dedicated Engineer (6mo)
suppress_header: true
description: "Augment your staff with a GitLab expert."
canonical_path: "/services/skus/dedicated-engr-6mo"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Dedicated Engineer (6mo)
.page-container.container
<iframe src="https://drive.google.com/file/d/1eLkBl3e5tbcqZdFcQTv0LT5lddFov3JN/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>