---
title: GitLab Certified Git Associate
suppress_header: true
description: "GitLab Certified Git Associate"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Git Associate
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

= partial "includes/education-services-deprecated"
