.member
  .card
    .front.core-team
      - image_url = member.avatar_url ? member.avatar_url : "/images/team/#{member.picture}"
      = image_tag image_url, alt: member.name, class: "member-img", width: 120, height: 120, loading: 'lazy'

      %h3
        = member.name
      %h4.role.mt-0
        - if inactive
          - if member.role
            = member.role
          - else
            = "Inactive Core Team member"
        - else
          - role = member.role
          - if role.include?("Core Team member")
            = role
          - else
            = "#{role}<br />Core Team member"

      .social
        - if member.linkedin
          %a{href: "https://www.linkedin.com/in/#{member.linkedin}"}
            %span.sr-only
              LinkedIn
            %i.fab.fa-linkedin
        - if member.twitter
          %a{href: "https://twitter.com/#{member.twitter}"}
            %span.sr-only
              Twitter
            %i.fab.fa-twitter
        - if member.gitlab
          %a.gitlab-logo{href: "https://gitlab.com/#{member.gitlab}"}
            %img{ src: "/images/icons/logos/slp-icon.svg", alt: "GitLab" }