---
title: Dedicated Engineer (3mo)
suppress_header: true
description: "Augment your staff with a GitLab expert."
canonical_path: "/services/skus/dedicated-engr-3mo"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Dedicated Engineer (3mo)
.page-container.container
<iframe src="https://drive.google.com/file/d/1U1Ntzt6zB_gKKqos6B2xrtplc-fii40l/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>