- data.blog_merch.each do |merch_item|
  - if current_page.data.merch_banner == merch_item.name
    %link{ rel: "stylesheet", type: "text/css", href: "/stylesheets/blog-merchandising-content.css" }
    %div
      %a.merchandising-content-container.merch-banner{ href: "#{merch_item.destination_url}", target: "_blank" }
        - if merch_item.banner_image_source
          %span.merchandising-image{ style: "background-image: url(#{merch_item.banner_image_source});" }
        %span.merchandising-copy-wrapper
          - if merch_item.banner_body_title
            %span.title
              %span.h4= merch_item.banner_body_title
          - if merch_item.banner_body_content
            %span.content
              %span.p= merch_item.banner_body_content
          - if merch_item.cta_text
            %span.cta-wrapper
              %span.cta-text= merch_item.cta_text
              = image_tag "/images/solutions/arrow.svg", class: "merchandising-arrow"